/* 版心类 水平居中 */
.wrapper {
  margin: 0px auto;
  width: 1200px;
}

.body {
  background-color: #f3f5f7;
}

/* 头部 */
.header {
  height: 100px;
  background-color: #fff;
}

/* 给头部的版心区域增加属性 */
.header .wrapper {
  display: flex;
  padding-top: 29px;
}

/* logo: font-size隐藏a中的文字 */
.logo a {
  display: block;
  width: 195px;
  height: 41px;
  background-image: url("../images/logo.png");
  font-size: 0px;
}

/* 导航区域 */
.nav {
  padding-left: 102px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 24px;
}

/* 为啥不加display: block 整个a会向上移动？ */
/* 行内元素在水平方向上设置 内外边距 是有效的，在垂直方向上设置 内外边距 是无效的 */
/* 在垂直方向上给行内元素设置内边距，在显示上是将元素范围扩大了，但实际上不会对周围元素有任何影响 */
.nav li a {
  display: block;
  padding: 6px 8px;
  line-height: 27px;
  font-size: 19px;
}

/* 为啥不能用 .nav li a .active */
.nav li .active,
.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

/* 搜索区域 */
.search {
  display: flex;
  margin-left: 64px;
  padding-left: 19px;
  padding-right: 12px;
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
}

.search input {
  flex: 1;
  border: 0;
  /* 透明 用父容器的颜色 */
  background-color: transparent;
  /* 去掉焦点框 */
  outline: none;
}

.search input::placeholder {
  font-size: 14px;
  color: #999;
}

.search a {
  width: 16px;
  height: 16px;
  background-image: url("../images/search.png");
  /* 侧轴居中 */
  align-self: center;
}
